.panel-timer {
   font-family: monospace;
   font-size: 800%;
   text-align: center;
   font-weight: bold;
   text-shadow: 5px 5px #000;
}

.tag {
   font-family: "Courier New";
   font-weight: bold;
   font-size: 14pt;
}

$tag-shadow: 2px 2px #444;

.tag-pink {
   color: rgb(255, 0, 51);
   text-shadow: $tag-shadow;
}

.tag-white {
   color: #fff;
   text-shadow: $tag-shadow;
}

.row-margin-top {
   margin-top: 1em;
}

.title {
   font-family: 'Courier New', Courier, monospace;
   font-size: 20pt;
   font-weight: bolder;
}