.panel-timer {
   font-family: monospace;
   font-size: 800%;
   text-align: center;
   font-weight: bold;
   text-shadow: 5px 5px #222;
}

.tag {
   font-family: "Courier New";
   font-weight: bold;
   font-size: 14pt;
}

.tag-pink {
   color: rgb(255, 0, 51);
}

.tag-white {
   color: #fff;
}

.row-margin-top {
   margin-top: 1em;
}