.panel-timer {
   min-height: 100px !important;
   font-size: 600%;
   text-align: center;
}

.tag {
   font-family: "Courier New";
   font-weight: bold;
   font-size: 14pt;
}

.tag-hash {
   color: rgb(255, 0, 51);
}

.tag-text {
   color: #fff;
}

